<!DOCTYPE html>
<html>
  <head>
    <title>Todos List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list_object.name }}</h1>
        <a href="{% url 'todo_list_update' todo_list_object.id %}">Update List</a>
        <a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list_object.items.all %}
              <tr>
                <td>
                  <a href="{% url 'todo_item_update' item.id %}">
                    {{ item.task }}
                  </a>
                </td>
                <td>{{ item.due_date }}</td>
                <td>{{ item.is_completed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
