<!DOCTYPE html>
<html>
  <head>
    <title>Todos List</title>
  </head>
  <body>
    <main>
      <h1>My Lists</h1>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
            <th>Is completed</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_list_object.items.all %}
            <tr>
              <td>{{ item.task }}</td>
              <td>{{ item.due_date }}</td>
              <td>{{ item.is_completed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
